<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'imgs/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/solar/bulmaswatch.min.css">
</head>
<body class="main">
    <div class="container is-fluid">
        {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }} has-text-danger"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
        {% endif %}
        <figure class="image is-128x128 float-left">
            <img src="{% static 'imgs/icon.png' %}" alt="Drawing of a person talking.">
        </figure>
        <section class="section">
            <h1 class="title is-2 has-text-centered">Delete this post?</h1>
            <div class="container has-text-centered box">
                <p class="title is-4">{{ post.post }}</p>
                <p>Likes: {{ post.user_likes.count }}</p>
            </div>
            <div class="buttons is-centered">
                <a class="button is-danger" href="/delete/{{post.id}}">Yes</a>
                <a class="button is-info" href="javascript:history.back()">Go Back</a>
            </div>
        </section>
    </div>
    <br>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
            Website created by Nico Carreon using <a href="https://www.djangoproject.com/">Django</a> and <a href="https://bulma.io/">Bulma</a>.
            </p>
        </div>
    </footer>
</body>
</html>